<h1 class="center" >{{job.name}}</h1>

<a  class="center" *ngIf="job.status=='finish'" (click)="downloadFiles()"><img  src="../../assets/images/folder-image.png"  height="42" width="42" title="Download Job" alt="Download Job"></a >
<a  class="center" *ngIf="job.status=='working'" (click)="stopJob()"><img src="../../assets/images/stopJob.jpg"  height="100" width="100" title="Stop" alt="Stop"></a >


<div class="center">
   
    <mat-card>

        <mat-list role="list">
            <mat-list-item role="listitem"><b>Type</b>: {{job.type}}</mat-list-item>
            <mat-list-item role="listitem" *ngIf="job.status=='finish'"><b>Status</b>: Done <img src="../../assets/images/done-icon.jpg"  height="30" width="30" title="Success" alt="Success">
            </mat-list-item>
            <mat-list-item role="listitem" *ngIf="job.status=='fail'"><b>Status</b>: Fail <img src="../../assets/images/fail-icon.png"  height="30" width="30" title="Fail" alt="Fail">
            </mat-list-item>
            <mat-list-item role="listitem" *ngIf="job.status=='working'"><b>Status</b>: Working <img src="../../assets/images/waiting-icon.png"  height="30" width="30" title="Working" alt="Working"></mat-list-item>
            <mat-list-item role="listitem" *ngIf="job.status=='finish'"><b>Result</b>:Success</mat-list-item>
            <mat-list-item role="listitem" *ngIf="job.status=='fail'"><b>Result</b>: {{job.description}}</mat-list-item>
        </mat-list>

    </mat-card>



</div>




