input#file {
    display: inline-block;
    width: 0%;
    height: 0px;
    overflow: hidden;
    background-color: khaki;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }