








<form>
  <div>
      <mat-card>
          <input id="file" multiple type="file" #file/>
          <button mat-raised-button (click)="file.click()">Upload Job</button>
      </mat-card>
  </div>
</form> 


<form method="post" enctype="multipart/form-data" action="/Upload">
    <div>
        <p>Upload one or more files using this form:</p>
        <input type="file" name="files" />
    </div>
    <div>
         <input type="submit" value="Upload" />
    </div>
</form>

<form action="/home/create" method="POST">
    <label for="firstName">Your first name</label>
    <input type="text" id="firstName" placeholder="Your name goes here" name="firstName" />
    <input type="submit" />
</form>


<div class="row" style="margin-bottom:15px;">
  <div class="col-md-3">
    <input webkitdirectory directory type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
    <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
  </div>
  <div class="col-md-4">
    <span class="upload" *ngIf="progress > 0">
      {{progress}}%
    </span>
    <span class="upload" *ngIf="message">
      {{message}}
    </span>
  </div>
</div>