<div class="example-container">

    <mat-form-field>
      <input matInput [(ngModel)]="job.jobName" placeholder="Job Name">
    </mat-form-field>
  
    <mat-radio-group class="example-radio-group" aria-label="Select an option" *ngFor="let jobType of jobTypes"  [(ngModel)]="selectedJobType">
      <mat-radio-button [value]="jobType" >{{jobType}}</mat-radio-button>
    </mat-radio-group>

    
    <mat-card class="example-card"> 

      <div class="executable-form" *ngIf="selectedJobType=='Single Job'">

        <div class="form-group">
          <label for="file">Upload Python Script</label>
          <input type="file"
                id="file"
                (change)="handleCommandFileInput($event.target.files)">
        </div>

        <div class="form-group">
          <label for="file">Upload Executable Files</label>
          <input type="file"
                id="file"
                (change)="handleCommandFileInput($event.target.files)">
        </div>
  
        <div class="form-group">
            <label for="file">Upload Parameters File</label>
            <input type="file"
                  id="file"
                  (change)="handleParametersFileInput($event.target.files)">
        </div>
  
        <div class="form-group">
            <label for="file">Upload Input Files</label>
            <input type="file"
                  id="file"
                  (change)="handleExecutableFileInput($event.target.files)">
        </div>
  
        <div class="sign-button">
          <button mat-raised-button (click)="uploadExecutableJobFiles()" color="primary" >Create job</button>
        </div>
  
      </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
      
  
  
  
  
  
     <div class="executable-form" *ngIf="selectedJobType=='Job Batch'">
  
  
  
        <mat-radio-group class="example-radio-group" aria-label="Select an option" *ngFor="let executableJobType of executableJobTypes"  [(ngModel)]="job.type">
          <mat-radio-button  [value]="executableJobType" >{{executableJobType}}</mat-radio-button>
        </mat-radio-group>

        <div class="executable-form" *ngIf="job.type=='Different Parameters'">
    
          <div class="form-group">
            <label for="file">Upload Python Script</label>
            <input type="file"
                  id="file"
                  (change)="handleCommandFileInput($event.target.files)">
          </div>
  
          <div class="form-group">
            <label for="file">Upload Executable Files</label>
            <input type="file"
                  id="file"
                  (change)="handleCommandFileInput($event.target.files)">
          </div>
    
          <div class="form-group">
              <label for="file">Upload Different Parameters Files</label>
              <input type="file"
                    id="file"
                    (change)="handleParametersFileInput($event.target.files)">
          </div>
    
          <div class="form-group">
              <label for="file">Upload Input Files</label>
              <input type="file"
                    id="file"
                    (change)="handleExecutableFileInput($event.target.files)">
          </div>
    
          <div class="sign-button">
            <button mat-raised-button (click)="uploadExecutableJobFiles()" color="primary" >Create Job Batch</button>
          </div>
        
      </div>

      <div class="executable-form" *ngIf="job.type=='Different Input Files'">

            <div class="form-group">
              <label for="file">Upload Python Script</label>
              <input type="file"
                    id="file"
                    (change)="handleCommandFileInput($event.target.files)">
            </div>

            <div class="form-group">
              <label for="file">Upload Executable Files</label>
              <input type="file"
                    id="file"
                    (change)="handleCommandFileInput($event.target.files)">
            </div>
      
            <div class="form-group">
                <label for="file">Upload Parameters File</label>
                <input type="file"
                      id="file"
                      (change)="handleParametersFileInput($event.target.files)">
            </div>
      
            <div class="form-group">
                <label for="file">Upload Different Input Files</label>
                <input type="file"
                      id="file"
                      (change)="handleExecutableFileInput($event.target.files)">
            </div>
      

          <div class="sign-button">
            <button mat-raised-button (click)="uploadExecutableJobFiles()" color="primary" >Create Job Batch</button>
          </div>


      </div> 
    
  
  
  
  
  
  
  
  
  
  
  
  
    </div>
  </mat-card> 
  